/* Styling the header tags */
* {
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    color: aqua;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    border-style: ridge;
    border-color: #FFF000;
    border-width: 5pt;
    border-radius: 5pt;
    text-align: left;
    text-decoration: none;
}
